@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-user-select: none
  //-webkit-overflow-scrolling: touch
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  *
    box-sizing border-box
    //-webkit-overflow-scrolling: touch
    -webkit-tap-highlight-color: transparent

 body
   -webkit-user-select: none
   user-select: none
   //overflow hidden
   //height calc(100vh - 2rem)
   //padding-top 2rem
