// 颜色定义规范
$color-background = #f7f7f7 // 白色背景
$color-background-d = #fff
$color-highlight-background = #F0F0F0 // 背景底色
$color-highlight-background-d = #949697 // 背景底色2 // 做个图没标准
$color-dialog-background = #666
$color-theme = #0B62C9 // active显示值
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #FF0303 // 红色值
$color-text = #262626 // 基础文本颜色
$color-text-d = #636363 // 文本浅灰
$color-text-l = #C3C3C3 // 文本浅灰2 边框浅色
$color-border = #f7f7f7 // 标准边框色
$color-border-d = #C3C3C3
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
