.article
  .article__header
    .article__title
      color: #000
      font-size: 22px
      line-height: 1.45
      font-weight: 600
    .article__source
      font-size: 12px
      color: #999
      display: flex
      justify-content: flex-start
      > span
        margin-right: 0.4rem
  .article__content
    word-wrap: break-word
    color: #000
    font-size: 17px
    line-height: 1.8
    img
      width: 100%
      display: block
      margin-right: auto
      margin-left: auto
      margin-top: 4px
      margin-bottom: 4px
      transition: opacity 200ms ease
